body {
    background-image: linear-gradient(to right bottom, #7df9e9, #7df6e0, #7ef3d6, #7fefcc, #82ecc2, #78edb7, #71edab, #6ced9d, #5cf187, #51f46c, #4cf64b, #4ef804);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1100px;
    animation: showText 2s;
    overflow: hidden;
}

.header {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 7%;
}

.logo {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 0.8%;
}

.user-info {
    width: 49%;
    display: inline-block;
    float: right;
    margin-top: 1.2%;
}

.username, .point, .logout {
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    height: 10%;
    background-color: transparent;
    border-color: transparent;
    transform: scale(1);
}

.logout:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    color: red;
}

.main-body {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    height: 980px;
    justify-content: center;
}

.load-image-div {
    display: inline-block;
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
}

.load-image-div .garbage {
    position: absolute;
    top: -9.0%;
    left: 36%;
    transform: scale(0.62);
    padding-top: 5%;
}

.load-image-div .load-image {
    position: absolute;
    top: 23%;
    left: 44.3%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    height: 12%;
    border-radius: 10px;
    background-color: white;
    transform: scale(0.75);
}

.load-image:hover {
    cursor: pointer;
    background-color: rgb(190,190,190);
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
}

.bins {
    text-align: center;
}

.paper, .metal, .plastic, .glass {
    background-color: transparent;
    border-color: transparent;
    
}

.paper-bin, .metal-bin, .plastic-bin, .glass-bin {
    width: 80%;
    height: 80%;
    transform: scale(0.7);
}

.paper-bin:hover {
    transform: scale(0.75);
    transition: all 0.5s ease-in-out;
}

.metal-bin:hover {
    transform: scale(0.75);
    transition: all 0.5s ease-in-out;
}

.plastic-bin:hover {
    transform: scale(0.75);
    transition: all 0.5s ease-in-out;
}

.glass-bin:hover {
    transform: scale(0.75);
    transition: all 0.5s ease-in-out;
}

.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
}

a:link {
    color: rgb(100,130,130);
}

a:visited {
    color: rgb(100,130,130);
}

a:hover {
    color: rgb(0,0,0);
}