body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 980px;
    animation: showText 2s;
    overflow: hidden;
}

.header {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 10%;
}

.logo {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 1.5%;
}

.user-info {
    width: 49%;
    display: inline-block;
    float: right;
    margin-top: 2%;
}

.username, .point, .logout {
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    height: 10%;
    background-color: transparent;
    border-color: transparent;
    transform: scale(1);
}

.logout:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    color: red;
}

.main-body {
    background-color: rgb(210, 210, 210);
    display: inline-block;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: center;
}

.load-image-div {
    display: inline-block;
    width: 100%;
    height: 50%;
    text-align: center;
}

.uploaded {
    background-color: rgb(250,250,250);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 50%;
    height: 90%;
    margin: 0 auto;
    margin-top: 1%;
}

.uploaded .uploaded-img {
    width: 45%;
    height: 90%;
    border: 2px solid black;
}

.result {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin-left: 3%;
}

.manual {
    font-size: 20px;
}

.load-image {
    margin-top: 20%;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    border-radius: 10px;
    background-color: white;
    transform: scale(1);
}

.load-image:hover {
    cursor: pointer;
    background-color: rgb(190,190,190);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.bins {
    text-align: center;
}

.paper, .metal, .plastic, .glass {
    margin-top: 1%;
    background-color: transparent;
    border-color: transparent;
}

.paper-bin, .metal-bin, .plastic-bin, .glass-bin {
    width: 80%;
    height: 80%;
    transform: scale(1);
}

.paper-bin:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.metal-bin:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.plastic-bin:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.glass-bin:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.footer {
    display: inline-block;
    width: 100%;
    height: 10%;
    margin-top: 15px;
    text-align: center;
    color: rgb(130,130,130);
}

a:link {
    color: rgb(100,130,130);
}

a:visited {
    color: rgb(100,130,130);
}

a:hover {
    color: rgb(0,0,0);
}